<!DOCTYPE html>
<html>
    <head>
        <title> Melika Hamedani </title>
    </head>
 <ul>
      <li> <a href = "/CPA"> CPA Students </a></li>
      <li> <a href = "/allStudents"> All Students </a></li>
      <li> <a href = "/addStudent"> Add A New Student </a></li>
      <li> Note: Locate specific student by student Id, e.g., <br>
            http://localhost:8080/student/3 </li>
      <li> <a href = "/highGPA"> Highest GPA </a></li>
      <li> <a href = "/"> Home </a></li>
</ul>
    <hr>
    {{{body}}}

    <hr>
        <hr>
        <h1> Student Honour Pledge</h1>
        <p> I acknowledge the Seneca College's academic integrity poilicy. <br>
        On my honor, I have neither given or received unauthorized aid on this test.</p>
         <h5>Name: </h5><h5 style="background-color:yellow" > Melika Hamedani</h5>
         <h5>Student Number: </h5><h5 style="background-color:yellow" > 175474212</h5>
    </body>
</html>

